crash-reports/
journeymap/data/
journeymap/icon/
journeymap/server/
journeymap/journeymap.log
logs/
mods/
saves/
screenshots/
shaderpacks/
resourcepacks/
server-resource-packs/
.cache/
.vscode/
usernamecache.json
usercache.json
.mixin.out/
liboc2rnet.so
patchouli_data.json
rhino.local.properties
local/
modernfix/